
body {
    background-color: gold;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
    margin-top: 100px;
    background-color: rgb(29, 28, 28);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.row0 {
    display: flex;
    gap: 5px;
    padding: 5px;
}

.row1 {
    display: flex;
    gap: 5px;
    padding: 5px;
}

.row2 {
    display: flex;
    gap: 5px;
    padding: 5px;
}

.row3 {
    display: flex;
    gap: 5px;
    padding: 5px;
}

.row4 {
    display: flex;
    gap: 5px;
    padding: 5px;
}

.delete {
    flex-grow: 1;
}
.clear {
    flex-grow: 1;
}

.display {
    background-color: rgb(71, 71, 71);
    text-align: right;
    color: white;
    min-height: 50px;
    font-size: 40px;
    border-radius: 5px;
    border-style: groove;
    padding: 5px;
    border: 1px solid black;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

button {
    min-width: 50px;
    min-height: 50px;
    font-size: 15px;
    font-weight: bold;
    background-color:rgb(46, 46, 46);
    color: white;
    border-radius: 10px;
    border-style:groove;
    border: 1px solid black;
}

button:active {
    background-color:gold;
}

.active {
    color: gold;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;

  }

  .delete {
      background-color:rgb(138, 13, 13);
      border: 1px solid rgb(87, 11, 11);
  }